{% macro build_menu(parent, menuobj, location, variables) %}
	{% if menuobj %}
			{% for locations in menuobj %}
				{% if locations[location] is not empty %}
					{% for menugroup in locations %}
						{% for menu in menugroup %}
							{% if menu.location_title == location %}
								{% if menu.menu_parent == parent %}
									{% if menu.menu_loginCond == 0 %}
										<li><a href="{{ menu.menu_link}}">{{menu.menu_title}}</a>
												{{current.build_menu(menu.menu_id, menuobj)}}
										</li>
									{% elseif menu.menu_loginCond == 1 %}
										{% if variables.loggedIn == true %}
											{{ current.check_role(menu, menuobj, variables.playerRole) }}
										{% endif %}
									{% else %}
										{% if variables.loggedIn == false %}
											<li><a href="{{ menu.menu_link}}">{{menu.menu_title}}</a>
												{{current.build_menu(menu.menu_id, menuobj)}}
											</li>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif%}
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	{% endif %}
{% endmacro %}

{% macro check_role(menu, menuobj, role) %}
	{% if menu.menu_roleID == role or role == 1 %}
		<li><a href="{{ menu.menu_link}}">{{menu.menu_title}}</a>
			{{current.build_menu(menu.menu_id, menuobj)}}
		</li>
	{% elseif menu.menu_roleID == 0 %}
		<li><a href="{{ menu.menu_link}}">{{menu.menu_title}}</a>
			{{current.build_menu(menu.menu_id, menuobj)}}
		</li>
	{% endif %}
{% endmacro %}